<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro MakerLab</title>
    <link rel="icon" type="image/png" href="../images/logo-maker.jpg">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body class="bg-question">
    <div class="container">
      <h2>Nueva Pregunta</h2>
      <input type="text" placeholder="Título">
      <textarea placeholder="Escribe aquí tu pregunta" type="text"></textarea><a href="new.html" class="btn waves-effect waves-light">Enviar<i class="material-icons right">send</i></a>
    </div>
  </body>
</html>